*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

h1 {
  font-family: "Staatliches", cursive;
}

h5 {
  font-family: "Libre Baskerville", serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none !important;
}

label {
  font-family: "Cairo", sans-serif;
}

th {
  font-family: "Mulish", sans-serif;
}

td {
  font-family: "DM Sans", sans-serif;
}

/* Navbar */
.navbar-brand {
  font-family: "Staatliches", cursive;
}

.navbar-nav .nav-link {
  font-family: "Roboto Slab", serif;
  font-weight: 500;
}

.navbar-nav > .nav-link:hover {
  color: #4bc0d9 !important;
}

.navbar-brand:hover {
  color: #4bc0d9 !important;
}

/* Image */
.img-wrapper {
  position: relative;
  text-align: center;
  color: #fff;
}
.img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-content h2 {
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
  font-size: 50px;
}
.img-content p {
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .img-content h2 {
    font-weight: 600;
    font-size: 30px;
  }
  .img-content p {
    font-weight: 500;
    font-size: 12px;
  }
}

/* Footer styles */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0;
  background: #111;
  width: 100vw;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}
.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 400;
  color: #0d6efd;
}

/* Signup Form */
input,
textarea {
  outline: none;
  border: none;
}

button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

a,
a:hover {
  text-decoration: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.container-signup {
  width: 100%;
  display: flex;
}

.signup-more {
  width: calc(100% - 520px) !important;
  position: relative;
  background-image: url(./assets/bg1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap-signup {
  width: 520px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
  padding: 72px 50px 0px 50px;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  font-weight: 900;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 59px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
}

.label-input {
  font-size: 18px;
  font-weight: 600;
  color: #999999;
  line-height: 1.2;
  padding-left: 2px;
}

.input {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-size: 22px;
  color: #555;
  line-height: 1.2;
  padding: 0 2px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #0d6efd;
}

.input:focus + .focus-input::before {
  width: 100%;
}

.container-signup-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrap-signup-form-btn {
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.signup-form-btn {
  width: 245px;
  height: 50px;
  padding: 10px 30px;
  background: #0d6efd;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
}

.login-button {
  font-size: 19px;
  color: #666;
  text-decoration: none;
}

/* Login */
.container-signin {
  width: 100%;
  display: flex;
}

.signin-more {
  width: calc(100% - 520px) !important;
  position: relative;
  background-image: url(./assets/bg2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.wrap-signin {
  width: 520px;
  min-height: 100vh;
  background: #fff;
  border-radius: 2px;
  position: relative;
  padding: 72px 50px 0px 50px;
}

.signin-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signin-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  font-weight: 900;
  color: #333333;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 59px;
}

.container-signin-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrap-signin-form-btn {
  display: block;
  position: relative;
  padding-bottom: 10px;
}

.signin-form-btn {
  width: 245px;
  height: 50px;
  padding: 10px 30px;
  background: #0d6efd;
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
}

.signup-button {
  font-size: 19px;
  color: #666;
  text-decoration: none;
}
